<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    <turbo-frame id="site" target="content" data-turbo-action="advance">

      {%- include header.html -%}

      <main class="page-content" aria-label="Content">
        <div class="wrapper">
          <turbo-frame id="content" data-turbo-action="advance">
            {{ content }}
          </turbo-frame>
        </div>
      </main>

      {%- include footer.html -%}

    </turbo-frame>
  </body>

</html>
